*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #FFFFFF;
    font-family: Nunito;
}

.row{
    margin: 0 !important;
    padding: 0 !important;
}

.header{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.header_block{
    display: flex !important;
    flex-wrap: wrap;
}

.header_item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_img{
    height: 50px;
}

.header_phone{
    font-size: 1.5rem;
    font-weight: 600;
}

.header_phone a{
    color: #2b2f32;
    text-decoration: none;
}

.header_small_button{
    display: flex;
}

.header_link{
    margin: 0 10px;
}

.header_link a{
    color: #2b2f32;
}

.header_black_line{
    width: 100%;
    background-color: #212529;
}

.home_category_block{
    width: 100%;
    display: flex;
    padding: 0 50px;
}

.home_category_nav_link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    margin: 0 3px;
}

.nav_img{
    width: 30px;
}

.content{
    display: flex;
}

.product_info{
    border: 1px #e9e9ea solid;
    border-radius: 10px;
    background-color: #f5f5f6;
}

.product_info h1{
    font-family: Nunito;
    font-size: 22px;
    font-weight: 700;
}

.product_info_container{
    margin: 25px 20px;
}

.product_info_title{
    padding-bottom: 20px;
}

.pdf{
    color: red;
}

.pdf a{
    color: #b20b01 !important;
    text-decoration: none;
    font-weight: 700;
}

.product_info_item{
    margin: 5px 5px;
    font-size: 16px;
}

.product_info_item a{
    color: #2b2f32;
    text-decoration: none;
}

.product_content_img{
    max-width: 100%;
}

.product_content_img img {
    max-width: 100%;
}

.product_info_contact{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #2b2f32;
    margin-top: 15px;
    padding-top: 15px;
    border: 1px #e9e9ea solid;
    border-radius: 10px;
    background-color: #f5f5f6;
    width: 100%;
}

.product_info_contact a{
    padding-left: 10px;
    color: #2b2f32;
    text-decoration: none;
    font-size: 1.5rem;
}

.product_info_contact_mail{
    font-size: 16px;
}

.product_info_contact_mail a{
    font-size: 16px;
}

.product_block{
    display: flex;
}

.product_info_contact_harta{
    width: 95%;
}

.product_info_contact_adresa{
    font-size: 16px;
}

.product_info_contact_harta iframe{
    width: 100%;
}

.category_info_block{
    margin: 25px 20px;
}

.product_item{
    display: flex;
    width: 240px;
    padding: 0!important;
}

.product_item_container{
    display: block;
    width: 240px;
}

.product_item_img{
    display: flex;
    width: 100%;
    height: 240px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.product_item_name{
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product_item_name a {
    color: #404346;
    text-decoration: none;
}

.sidebar{
    border: 1px solid #e9e9ea;
    border-radius: 5px;
    padding: 20px 20px;
}

.sidebar_maincategory{
    font-size: 16px;
}

.sidebar_maincategory a{
    color: #2b2f32;
    text-decoration: none;
}

.sidebar_maincategory a:hover{
    font-size: 17px;
    transition: 0.3s font-size;
}

.sidebar_subcategory{
    padding-left: 15px;
    font-size: 14px;
}

.sidebar_subcategory a{
    color: #2b2f32;
    text-decoration: none;
}
.sidebar_subcategory a:hover{
    font-size: 15px;
    text-decoration: underline;
    transition: 0.3s font-size;
}

.pagination{
    --bs-pagination-active-bg: #2b2f32;
    --bs-pagination-active-border-color: #eaebec;
}

.pagination a{
    color: #2b2f32;
}
